<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user.first_name %>
</p>

<p>
  <strong>Paid?:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Item(s) in your cart:</strong>
  <ul>
    <% @order.items.each do |item| %>
    <tr>
      <li><td><%= link_to item.name, item %></td></li>

    <% end %>
    </ul>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
