<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user.first_name %>
</p>

<p>
  <strong>Paid?:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Item:</strong>
  <% @order.items.each do |item| %>
  <tr>
    <td><%= link_to item.name, item %></td>
    <% end %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
