<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Listing Items</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <div class="col-md-1"><tbody></div>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to "#{item.name}", item %></td>
          <td><%= truncate(item.description, length: 70) %></td>
          <td>$<%= item.price %></td>
          <td><%= item.quantity %></td>
          <% if current_user %>
            <td><%= link_to('Add to cart', lineitems_path(lineitem: { item_id: item.id, quantity: 1 }),
              method: :POST) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
